html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Gotham", Sans-serif;
}

.esri-view-height-xsmall .esri-ui-corner .esri-legend {
    max-height: 440px;
}

#results {
  margin-left: 16px;
  /*font-weight: normal;
  font: 13.3333px Arial;*/
}
